.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('/public/Background\ 2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

.note-container,
.login-container,
.signup-container {
  background-color: white;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 15px;
  padding: 25px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  max-width: 1000px;
  margin: 20px auto;
  width: 90%;
  backdrop-filter: blur(9px);
}

.yournotes-container {
  background-color: white;
  opacity: 0.78;
  border-radius: 15px;
  border: 1px solid black;
  backdrop-filter: blur(9px);

}